__pycache__
*.pyc
*.pyo
*.pyd
venv/
db.sqlite3
*.pyc
*.pyo
*.pyd
manage.py
art/__init__.py
art/wsgi.py
art/asgi.py
art_gallary/__init__.py
art_gallary/apps.py
art_gallary/tests.py
art_gallary/migrations
.idea/
.vscode/