{% extends 'base.html' %}
{% load static %}

{% block info %}

<div class="container">
    <div class="row p-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <span aria-hidden="true" onclick="this.parentElement.style.display='none';"
                                style="font-weight: bold; font-size: 22px; cursor: pointer;float: right;">&times;</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <h3 class="text-center text-success">Your Selected Item</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Art</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Title</th>
                                <th scope="col">Catagory</th>
                                <th scope="col">price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td><img src="{{ i.art.image.url }}" style="width: 50px; height: 50px;"></td>
                                <td>{{ i.art.artist }}</td>
                                <td>{{ i.art.title }}</td>
                                <td>{{ i.art.catagory }}</td>
                                <td>{{ i.art.price }}</td>
                                <td>
                                    <a pid={{i.art.id}} class="remove-cart btn btn-danger">Remove</a>
                                </td>
                            </tr>
                            {% endfor %}

                            <tr class="bg-dark text-white ">
                                <td><strong id="amount">Total Price : {{ total }}</strong></td>
                                <td><strong>Shipping: 40</strong></td>
                                <td colspan="2">
                                    <td><strong>Total (including gst)</strong></td>
                                    <td><strong id="totalamount">Rs.{{ totalamount }}</strong></td>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center mt-2">
                        <a href="{% url 'checkout' %}" class="btn btn-warning">Check Out</a>
                        <a href="{% url 'art_all' %}" class="btn btn-success">Explore more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}